* {
    box-sizing: border-box;
  }

p {
    font-size: large;
}

body {
    background-color:white;
    font-family:"Roboto", sans-serif, monospace;
}

.center {
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}
  
ul.nav > li {
    font-size: xx-large;
    float: left;
}

div.navbar{
  position: sticky;
  top: 0;
  width: 100%;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    padding: 0%;
}

.dropdown-content > a  {
    font-size: x-large;
}
  
ul.nav > li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
    background-color: #111;
}
  
ul.nav > li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #c7c2c2 !important;}
  
.dropdown:hover:not(.active) .dropdown-content {
    display: block;
}
.active {
    background-color: #04AA6D;
}

.leaders {
    display: flex;
    flex-direction: column;
}

.leader {
    padding: 2em 2em; 
    display: flex;
    flex-direction: row;
}

.profile {
    flex: 0 0 27em;
    order: -1;
    align-self: center;
}

.name {
    display: inline;
    white-space:nowrap;
}

.about {
    flex-grow: 1;
}

.rules {
    text-align: center;
    list-style-position: inside;
}

.rules > li {
    margin: 1%;
    padding-right: 5%;
}

.profile-pic {
    width:25em;
    height:25em;
    object-fit:cover;
    border-radius:50%;
  }

.type {
    margin: 1px;
    width: 5em;
    height: 5em;
    float: left;
}

h1, h2 {
    text-align: center;
}

h1 {
    padding: 1em 1em;
    text-align: center;
    font-size: xxx-large;
}

.rules {
    font-family: monospace;
    font-size: large;
}